---

import Layout from '../layouts/Layout.astro';

import VeterinarioForm from '../components/VeterinarioForm';
import VeterinarioList from '../components/VeterinarioList';
const url = import.meta.env.BACKEND_URL + '/api/veterinarios'; // acá sí puedes usar import.meta.env

let refreshKey = 0;

const handleAddVeterinario = async () => {
  refreshKey++; // cambiamos refreshKey para forzar recarga
};
---

<Layout>
	<div class="flex space-x-6">
		<!-- Formulario para agregar veterinarios -->
		<div class="flex-1">

			<VeterinarioForm client:load url={url} onAddVeterinario={handleAddVeterinario} />
		</div>
	
		<!-- Lista de veterinarios -->
		<div class="flex-1">
			<VeterinarioList client:load url={url} key={refreshKey} />
		</div>
	</div>
</Layout>
